
<div class="myBg">
<div class="nn">

</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="../assets/logo.webp" class="myLogo"/>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-evenly w-100">
        <div>
          <a class="nav-link active " aria-current="page" routerLink="/"><h3>Home</h3></a>
        </div>

        <div>
          <a class="nav-link " routerLink="contacts"><h3>Careers</h3></a>
         </div>
     
       <div>
        <a class="nav-link " routerLink="blogs"><h3>Blogs</h3></a>
       </div>

       <div>
        <a class="nav-link" routerLink="contacts"><h3>Contacts</h3></a>
       </div>
       
      
       
     
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


</div>